<div class="footer">

    <div class="container">

        <div class="logo-redes">

            <div class="logo">
                <img src="assets/images/logo/upsjb-logo-1.png" alt="">
            </div>

            <div class="redes">
                <a href="https://www.facebook.com/upsjboficial/"><img src="assets/images/redes/facebook.svg" alt=""> </a>
                <a href="https://www.instagram.com/upsjboficial/"><img src="assets/images/redes/instagram.svg" alt=""></a>
                <a href="https://www.tiktok.com/@upsjboficial"><img src="assets/images/redes/tiktok.svg" alt=""></a>
                <a href="https://pe.linkedin.com/school/upsjboficial/"><img src="assets/images/redes/linkedin.svg" alt="">
                </a>
            </div>

        </div>

        <div class="locales-filiales">

            <h3>Locales y Filiales</h3>

            <div class="sedes">
                <div class="div1">
                    <h4>Chorrillos</h4>
                    <p>Av. José Antonio Lavalle N° 302-304 (Ex Hacienda Villa)</p>
                </div>
                <div class="div2">
                    <h4>San Borja</h4>
                    <p>Av. San Luis N°1923 – 1925 – 1931</p>
                </div>
                <div class="div3">
                    <h4>Ica</h4>
                    <p>Carretera Panamericana Sur N° 103, 113 y 123 (Ex Km 300)</p>
                </div>
                <div class="div4">
                    <h4>Chincha</h4>
                    <p>Calle Albilla N° 108 Urbanización Las Viñas (Ex Toche)</p>
                </div>
            </div>

        </div>

    </div>

    <div class="container">

        <div class="contactanos">

            <h3>Contáctanos</h3>

            <div class="contacto">

                <div class="div1">
                    <h4>Central de Admisión</h4>
                    <p>(01) 709-5999</p>
                </div>

                <div class="div2">
                    <h4>WhatsApp de Admisión</h4>
                    <p>950 322 888</p>
                </div>

                <div class="div3">
                    <h4>¿Tienes un Reclamo?</h4>
                    <a href="https://sae.upsjb.edu.pe/hc/es-419/requests/new">
                        <p>Ingresa aquí</p>
                    </a>
                </div>

                <div class="div4">
                    <div class="boton">
                        <a href="https://www.upsjb.edu.pe/canales-de-atencion/">Escríbenos</a>
                    </div>
                </div>

                <div class="div5">
                    <h4>Mesa de Partes Virtual</h4>
                    <p>mesadepartes&#64;upsjb.edu.pe</p>
                </div>

                <div class="div6">
                    <h4>Central Institucional</h4>
                    <p>(01) 644-9131</p>
                </div>

                <div class="div7">
                    <h4>
                        <a href="https://www.upsjb.edu.pe/transparencia">Transparencia</a>
                    </h4>
                </div>

                <div class="div8">
                    <h4>
                        <a href="https://libroreclamaciones.upsjb.edu.pe/">
                            <img src="https://www.upsjb.edu.pe/wp-content/uploads/2023/11/libro-reclamaciones.svg"
                                alt="">
                        </a>
                    </h4>
                </div>

                <div class="div9">
                    <h4>
                        <a href="https://www.upsjb.edu.pe/pagos/">Canales de Pago</a>
                    </h4>
                </div>

                <div class="div10">
                    <h4>
                        <a href="https://www.upsjb.edu.pe/plataformas-digitales/">Plataformas Digitales</a>
                    </h4>
                </div>

                <div class="div11">
                    <h4>
                        <a href="https://repositorio.upsjb.edu.pe/">Repositorio Institucional</a>
                    </h4>
                </div>

                <div class="div12">
                    <h4>
                        <a href="https://documentodigital.upsjb.edu.pe/Certificados/#/consultas/certificado">Validación
                            de Documentos Digitales</a>
                    </h4>
                </div>

            </div>

        </div>

    </div>

    <div class="container">

        <div class="derechos-reservados">

            <p>© UPSJB {{anio}} Todos los derechos reservados.</p>

        </div>

    </div>

</div>
