
<header>

    <div class="container">

        <div class="logo-title">

            <div class="logo">
                <img src="assets/images/logo/upsjb-logo-2.png" alt="">
            </div>

            <div class="divider"></div>

            <h2>SEGUIMIENTO AL EGRESADO</h2>

        </div>

        <nav class="main-nav">
            <a routerLink="/private/dashboard" routerLinkActive="active-link">Dashboard</a>
            <p (click)="logout()">Cerrar Sesión</p>
        </nav>

    </div>

</header>

