
<header>

    <div class="container">

        <div class="logo-title">

            <div class="logo">
                <img src="assets/images/logo/upsjb-logo-2.png" alt="">
            </div>

            <div class="divider"></div>

            <h2>SEGUIMIENTO AL EGRESADO</h2>

        </div>

        <nav class="main-nav">
            <!-- <a routerLink="/private/formulario-encuesta" routerLinkActive="active-link">Formulario</a> -->
            <a routerLink="/private/formulario" routerLinkActive="active-link">Formulario</a>
            <a routerLink="/private/dashboard" routerLinkActive="active-link">Dashboard</a>
            <a routerLink="/private/modelo-gestion" routerLinkActive="active-link">Modelo</a>
        </nav>

    </div>

</header>
